main {
  background-image: url(imagenes/SSceleste.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  color: rgb(28, 91, 7);
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 11;
  font-family: "Akronim", cursive;
  font-family: "Pacifico", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik Iso", cursive;
  }

img {
  width: 60%;
  height: 400px;
}
    
  .boton {
    font-family: "Akronim", cursive;
    margin: 0;
    background-color:  rgb(23, 89, 78);
    border-radius: 25px;
    justify-content: space-around;
    width: 25%;
    height: 60px;
  }

