main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(163, 85, 162);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 11;
  }

  .boton {
    margin: 0;
    background-color: wheat;
    border-radius: 25px;
    justify-content: space-between;
    width: 90%;
    height: 70px;
  }
  