nav {    
     margin: 0;
    background-color: rgb(71, 90, 176);
    color: hotpink;
   }

.boton-nav {   
    background-color: rgb(244, 175, 194);
    border-radius: 25px;   
    width: 25%;
    height: 60px;
}

span {
    font-size: 34px;
}
