<link rel="stylesheet" href="./aside.css">

<aside>
    <h1>Últimos Lugares Agregados:</h1>
    
        <% places.forEach((place) => { %>
            <%- include("place", {place}) %>
        <% }); %>
    
</aside>