<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lugares:</h1>
    <ul>
        <% places.forEach((place) => { %>
            <li>
            <p>
                <b><%= place.titulo %></b><br>
                <i><%= place.contenido %></i><br>
                <b><img src="<%= place.link %>" alt="<%= place.contenido %>"></b><br>
            </p>
        </li>
        <% }); %>
    
    </ul>
</body>
</html>