<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mi Inicio</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="bootstrap.css" />
  </head>
  <body>
    <%- include("navbar") %> <%- include("main") %> <%- include("footer") %> 

    <script src="bootstrap.js"></script>
  </body>
</html>
