<link rel="stylesheet" href="./main.css">

<main>
    <br />
    <button class="boton"><a href="/crear">Crear Post</a></button>

    <br />
    <button class="boton"><a href="/">Buscar Lugares</a></button>

    <br />
    <button class="boton"><a href="/">Actualizar un Lugar</a></button>

    <br />
    <button class="boton"><a href="/">Eliminar Lugar</a></button>
</main>