<link rel="stylesheet" href="./navbar.css" />

<nav>
  <div class="row">
    <div class="col-12 col-sm-8 col-md-9 col-lg-10 col-xl-11 col-xxl-12">
    
      <button class="boton-nav"><a href="/create">Crear Post</a></button> <br />  

        <span><strong> Posts sobre Lugares Visitados </strong></span>
     
    </div>
  </div>
</nav>
