<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar página</title>
    <link rel="stylesheet" href="styles.css">
      <body>
    <button class="boton-back"><a href="/">Volver</a></button>
    <h1>Editar un Lugar</h1>

    <form action="/updates" method="post">
        <input type="text" name="id" value="<%= place.id %>" hidden>
        <input type="text" name="titulo" placeholder="Nombre del Lugar" value="<%= place.titulo %>"><br>
        <textarea name="contenido" cols="30" rows="10" placeholder="Descripción del lugar"><%= place.contenido %></textarea><br>
        <input type="text" name="link">
        <button class="boton">Guardar</button>
    </form>
</body>
</html>